body{
    background-color: black;
    color:aliceblue;
    margin:0;
    padding : 0;
}

#header{
    background-color: purple;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

#lettersHolder{
    min-width: 50vh;
    min-height: 80vh;
    max-height: 96vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: purple;
    border-radius: 0.8vh;
    box-shadow: -1.6vh -1.6vh 4vh plum, 
    1.6vh 1.6vh 4vh rgb(78, 1, 78)
    ;
}

#letter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    min-width: 20vh;
    font-size: 11vh;
    text-align: center;
    margin: auto;
    border: 2px plum;
    border-radius: 0.8vh;
}

#letter:hover{
    background-color: plum;
}